# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml
*.iws
.idea_modules/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local 